.subHeading {
    font-size: 10px;
    line-height: 10px;
    font-family: 'Outfit',sans-serif;
    font-weight: 300;
    color: #f5b754;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 6px;
}


.heading {
    font-size: 35px;
    font-family: 'Outfit',sans-serif;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    line-height: 1.25em;
    font-weight: 700;
}