@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .wrapper {
        @apply max-w-[1140px] w-full mx-auto px-2 lg:px-0
    }

    .dashboard-wrapper {
        @apply min-h-dashboardScreen bg-gray-100 dark:bg-darkBg w-full p-[18px] rounded-[20px]
    }

    .thin-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .thin-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .thin-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-slate-500 dark:bg-Grayish border border-[#EFEDEE] rounded-full
    }
}


@layer base {
    :root {
        --chart-1: 38, 75%, 51%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 36.89 88.95% 64.51%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}